h2 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

body {
  background-color: #4169e1;
}

button {
  background-color: #69e141;
  width: 100%;
}

table {
  background-color: #e14169;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  border-collapse: collapse;
}

input {
  width: 100%;
  box-sizing: border-box;
  text-align: right;
}
